<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">

    </customErrors>
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="insertyourvaluehere" />
    <add key="ClientSecret" value="insertyourvaluehere" />
    <add key="YammerClientId" value="insertyourvaluehere" />
    <add key="YammerClientSecret" value="insertyourvaluehere" />
  </appSettings>
  <connectionStrings>
    <add name="AppTokenStorage" providerName="System.Data.SqlClient" connectionString="insertyourvaluehere" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="svc-integrated " />
      <add name="SharePointProxyModuleVtiBin" path="_vti_bin/*" verb="*" type="mammerla.SharePointIntegration.SharePointProxyModule" />
      <add name="SharePointProxyModuleApi" path="_api/*" verb="*" type="mammerla.SharePointIntegration.SharePointProxyModule" />
    </handlers>
  </system.webServer>
  <!--
    UNCOMMENT FOR DEBUGGING WITH FIDDLER
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>
  -->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding">
          <security mode="Transport"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" bindingConfiguration="secureBinding" scheme="https"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>